@font-face {
    font-family: urbanist;
    src: url(./fonts/Urbanist-VariableFont_wght.ttf);
}

:root{
    --bg: rgb(0, 0, 0);
    --fg: rgb(255, 255, 255);
    --c1: rgb(236, 78, 32);
    --c2: rgb(255, 149, 5);
    --c3: rgb(1, 111, 185);
    --c1-rgb: 236, 78, 32;
    --c2-rgb: 255, 149, 5;
    --c3-rgb: 1, 111, 185;
}

*{
    font-family: urbanist;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-image: linear-gradient(-20deg, var(--bg) 25%, rgba(var(--c2-rgb), .2));
    background-color: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#navbar{
    /* border-bottom: solid 1px rgba(var(--c2-rgb), .3); */
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 50px;
    display: grid;
    grid-template-columns: max-content repeat(6, 1fr);
}
.nav-item{
    display: grid;
    /* grid-template-rows: 1fr 1fr;z */
}
.nav-item:nth-child(4){
    grid-column: 7;
}
.nav-item:nth-child(3){
    grid-column: 6;
}
.nav-item:nth-child(2){
    grid-column: 5;
}
.nav-link-div{
    margin: auto;
    display: grid;
}
.nav-item-a{
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
}
.nav-item-underline{
    width: 10px;
    height: 2px;
    background: var(--c2);
    margin: auto;
    transition: .12s;
}
.nav-link-div:hover .nav-item-underline{
    width: 40px;
}
#nav-logo{
    width: 35px;
    display: block;
    margin: auto;
}
#nav-title-div{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    padding-left: 10px;
    margin: auto 0;
}
#nav-title{
    margin: auto;
    font-size: 1.8em;
}

#hero{
    height: calc(100vh - 70px);
    display: grid;
}
#hero-content{
    margin: auto;
}
#hero-slogan{
    font-size: 60px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    color: transparent;
    background: linear-gradient(45deg, var(--c1), var(--c3));
    background-clip: text;
}
#hero-desc{
    text-align: center;
    width: 50vw;
    margin: 0px;
    margin: auto
}
#cta-btn-a{
    text-decoration: none;
}
#cta-btn{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 30px;
    margin: auto;
    margin-top: 25px;
    cursor: pointer;
    background: rgba(var(--c3-rgb), .5);
    transition: .2s;
}
#cta-btn:hover{
    background: rgba(var(--c3-rgb), .7);
}
#cta-btn:hover #cta-btn-icon{
    transform: translateX(5px);
}
#cta-btn-text{
    margin: auto;
}
#cta-btn-icon{
    margin: auto;
    width: 20px;
    filter: invert(1);
    transition: .2s;
}

#about{
    padding-top: 20px;
}
#about-sec-title-div{
    margin-bottom: 30px;
}
#about-sec-title{
    text-align: center;
    font-size: 2em;
    margin: 0px;
}
#about-sec-title-underline{
    width: 70px;
    height: 5px;
    background: var(--c2);
    margin: 0 auto;
}
.about-sec-p{
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    font-size: 1.08em;
    margin-bottom: 20px;
}

#reviver{
    padding-top: 1px;
}
#add-chat-btn{
    border: none;
    padding: 0px;
    width: 35px;
    height: 35px;
    display: grid;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
#add-chat-btn img{
    width: 15px;
    margin: auto;
    filter: invert(.7);
}

#chat-window{
    width: 80%;
    height: calc(85vh - 20px);
    padding: 20px;
    /* background: rgba(255, 255, 255, .05); */
    background: linear-gradient(-45deg, rgba(var(--c3-rgb), .12), rgba(var(--c1-rgb), .15));
    border: solid 1px var(--c1);
    border-radius: 15px;
    margin: 15px auto;
    /* margin-top: 0px; */
    overflow-y: auto;
    display: grid;
}
#chat-msg-div, #chat-info-bar{
    display: none;
}

#chat-window-placeholder-div{
    margin: auto;
    display: grid;
    cursor: pointer;
}
#chat-window-placeholder-div:hover #chat-window-placeholder-icon{
    filter: invert(.4);
}
#chat-window-placeholder-icon{
    width: 200px;
    filter: invert(.3);
    margin: auto;
    transition: .2s;
}
#chat-window-placeholder-p{
    margin: auto;
    margin-top: 10px;
}

.date-marker{
    margin: 0 auto;
    width: fit-content;
    background: rgb(35, 35, 35);
    border-radius: 6px;
    padding: 5px 7px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, .8);
}
.date-marker-date{
    text-align: center;
    margin: 0px;
    font-size: .8em;
}

.sticker{
    width: 150px;
}
.media-img{
    width: 22vw;
}
.media-vid{
    width: 19vw;
}

.msg{
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
}
.msg.sent{
    margin-left: auto;
}
.msg.system{
    margin: auto;
}
.msg-sender{
    margin: 0px;
    padding: 0px;
    font-size: 0.85em;
    color: rgb(255, 255, 98);
}
.msg-sender-div{
    background: rgb(39, 39, 39);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: fit-content;
}
.msg.sent .msg-sender-div{
    margin-left: auto;
}
.msg-content{
    background: rgb(39, 39, 39);
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    max-width: 40vw;
    width: fit-content;
}
.msg.sent .msg-content{
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    margin-left: auto;
}
.msg.system .msg-content{
    color: rgb(255, 255, 98);
    background: rgb(25, 25, 25);
    font-size: .8em;
    text-align: center;
    border-radius: 10px;
}
.msg-text{
    margin: 0px;
    margin-left: 2px;
}
.msg-time{
    width: fit-content;
    margin: 0px;
    margin-left: auto;
    font-size: .8em;
    color: rgba(255, 255, 255, .7)
}

.media-doc{
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 7px;
}
.media-doc-name{
    margin: 0px;
}
.media-doc-funcs{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 7px;
}
.media-doc-open, .media-doc-dl{
    font-size: .8em;
    color: rgb(255, 255, 98);
}

#footer{
    padding: 20px 0px;
    padding-bottom: 10px;
    display: grid;
    /* border-top: solid 1px rgba(255, 255, 255, .1); */
    margin-top: 10px;
    color: rgba(255, 255, 255, .7);
}
#cr-statement{
    margin: auto;
    /* text-align: center; */
}

#popup-wrapper{
    display: grid;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
}
#pdf-viewer{
    width: 80%;
    height: 80vh;
    margin: auto;
    animation: popup-show .3s;
    display: none;
}
#img-viewer{
    height: 90vh;
    margin: auto;
    animation: popup-show .3s;
    display: none;
}
#popup-close-btn-icon{
    position: fixed;
    top: 10px;
    right: 10px;
    filter: invert(1);
    width: 17px;
    transform: rotate(45deg);
}
#popup-close-btn{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
#select-user-popup{
    display: none;
    margin: auto;
    background: rgb(0, 142, 74);
    padding: 15px 25px;
    border-radius: 15px;
    width: 20vw;
    animation: popup-show .3s;
}
#select-user-popup-title{
    margin: 0px;
    margin-bottom: 15px;
}
#select-user-input{
    width: 100%;
    padding: 10px 20px;
    padding-left: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}
#select-user-submit{
    padding: 7px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
    font-size: .92em;
}

@keyframes popup-show {
    0%{
        transform: scale(0);
    }
}
@keyframes popup-hide {
    100%{
        transform: scale(0);
    }
}



@media screen and (max-width: 1000px){
    #select-user-popup{
        width: 30vw;
    }
}
@media screen and (max-width: 800px){
    .media-img{
        width: 30vw;
    }
}
@media screen and (max-width: 700px){
    .msg-content{
        max-width: 55vw;
    }
    #select-user-popup{
        width: 40vw;
    }
}
@media screen and (max-width: 600px){
    .media-img{
        width: 40vw;
    }
}
@media screen and (max-width: 470px){
    #select-user-popup{
        width: 50vw;
    }
}
@media screen and (max-width: 400px){
    .sticker{
        width: 120px;
    }
    #select-user-popup{
        width: 65vw;
    }
    .media-img{
        width: 50vw;
    }
}